<!DOCTYPE html>

<html lang="en">
    <title>Dungeron, Dungeon Conqueror</title>
    <h1><strong>WELCOME TO DUNGERON!</strong></h2>
    <h2>Choose your fate!</h2>
    <head>
        <link rel="scriptsheet" href="scripts/scripts">
        <link rel="stylesheet" href="static/style.css">
    </head>

    <body>
        <script>
                <button class="start_game" onclick="enterDungeron()">Enter the cave</button>
                <button class="quit_game" onclick="skedaddleAway()">Run away</button>
        </script>
    </body>
</html>